<div id=footer>
  <h1 style="font-size:24px;"> <a href="https://sorcerawr.com/rawr" style="text-decoration: underline  !important;"> About  </a> </h1> <br>
  <br>
  <a href="https://twitter.com/BytesTheBlessed?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @0xdivi</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <br>
  <a href="https://www.instagram.com/bytes_the_blessed/"> <img src="/img/instagram.png"></img></a>
  <br> <br>
  <br>
  <a href="https://app.gumroad.com/bytestheblessed" style="font-size:16px; text-decoration: underline; "> SorceRawr <span style="color:#FF3838">M</span><span style="color:#D7FF38">e</span><span style="color:#38FF88">r</span><span style="color:#3888FF">c</span><span style="color:#D738FF">h</span> Store </a>
  <br> <br>
<!--  <p>


     <a href="https://www.patreon.com/motibytes?fan_landing=true">Become a SorceRawr Patron on Patreon </a> <br> <br>
     donate bitcoin - bc1q99vng5nykfjv7vy8crj7p3a4nluwgm44mup20a <br> <!-- can make javascript event onclick !!!!!!!!!!!!!!!!!!!!!!!!!!! donate crypto button  -->
    <!-- donate ethereum - 0x39c7C9FdB10Df996d59590fd5cC52483a919EB29
      </p> -->  <br> <br> <br>
  <div id="end"> Created by © <a style="color:#a28351 !important;" href=https://jamesbyt.es id="jtb">James T. Bytes </a> 2021 </div>
</div>
<br>
