<div id=footer>
  <a href="https://twitter.com/GnopticThe?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @GnopticThe</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <br> <br>
  <p>
     bitcoin donation address: bc1q99vng5nykfjv7vy8crj7p3a4nluwgm44mup20a <br>
     ethereum donation address: 0x39c7C9FdB10Df996d59590fd5cC52483a919EB29   
      </p> <br>
  Created by <a href=https://jamesbyt.es>James T. Bytes </a>
</div>
<br>
