<!-- Change Image! -->
<script type="application/ld+json">
{
  "@context" : "https://schema.org",
  "@type" : "Article",
  "image" : "https://sorcerawr.com/img/{{ page.permalink }}{{ page.picformat }}",
  "name" : "{{ page.title }}",
  "headline" : "{{ page.title }}",
  "keywords" : "",
  "mainEntityOfPage": {
       "@type": "WebPage",
       "@id": "https://sorcerawr.com/{{page.permalink}}"
     },
  "author" : {
    "@type" : "Person",
    "name" : "James T. Bytes",
    "additionalName": "James The Blessed",
    "birthDate": "1994-04-24"
  },
  "datePublished" : "{{ page.date | date_to_xmlschema }}",
  "dateModified" : "",
  "publisher" : {
    "@type" : "Organization",
    "name" : "SorceRawr.com",
    "logo": {
       "@type": "ImageObject",
       "url": "http://www.sorcerawr.com/img/logo.png"
     }
  }
}
</script> <!-- datemodified -  {{ site.time | date_to_xmlschema }} --> 
