<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@graph": [{
			"@type": "Person",
			"@id": "https:/motibytes.github.io/about-me/",
			"name": "James T. Bytes",
			"image": {
				"@type": "ImageObject",
				"inLanguage": "en-US",
				"url": "https://www.jamesbyt.es/img/Avatar_James_500x500.jpg",
				"contentUrl": "https://www.jamesbyt.es/img/Avatar_James_500x500.jpg",
				"width": 500,
				"height": 500,
				"caption": "James T. Bytes The Blessed"
			},
			"description": "James is the owner of SorceRawr.com and BytesTheBlessed.com. He is a perspective changing artist and interactive wordsmith. A student of wisdom, James is a flowing, eternally changing being of creativity.",
			"sameAs": [
				"https://jamesbyt.es",
				"https://www.facebook.com/jamestheblessed",
				"https://www.are.na/james-the-blessed",
				"https://www.instagram.com/bytes_the_blessed/",
				"https://twitter.com/0xdivi",
				"https://sorcerawr.com/about-me",
				"https://lightdark.art/about-me",
				"https:/jamesbyt.es/about-me/"
			],
			"worksFor": {
				"@type": "Organization",
				"name": "SorceRawr.com",
				"url": "https://sorcerawr.com/rawr.html",
				"sameAs": [
					"https://fb.me/sorcerawr",
					"https://twitter.com/0xdivi"
				],
				"logo": {
					"@type": "ImageObject",
					"@id": "https://sorcerawr.com/img/SorceRawr_Icon_500x500.png",
					"inLanguage": "en-US",
					"url": "https://sorcerawr.com/img/SorceRawr_Icon_500x500.png",
					"width": 500,
					"height": 500,
					"caption": "SorceRawr.com"
				},
				"founder": {
					"@id": "https:/motibytes.github.io/about-me/"
				},
				"foundingDate": "2021-03-06",
				"description": "SorceRawr.com is the Source of Cultivated Creativity in the Matrix. SorceRawr is a source for inspiration, creative access and tools."
			},
			"gender": "https://schema.org/Male",
			"birthDate": "1994/04/24",
			"nationality": "American",
			"mainEntityOfPage": {
				"@id": "https://lightdark.art/about-me/"
			}
		},
		{
			"@type": "WebSite",
			"@id": "https://lightdark.art",
			"url": "https://lightdark.art",
			"name": "LightDark.art",
			"description": "These Words Bring Light And The Darkness.",
			"publisher": {
				"@id": "https://lightdark.art/about-me/"
			},
			"inLanguage": "en-US"
		},
		{
			"@type": "ImageObject",
			"@id": "https://lightdark.art/img/lightdarkart.png",
			"inLanguage": "en-US",
			"url": "https://lightdark.art/img/lightdarkart.png",
			"contentUrl": "https://lightdark.art/img/lightdarkart.png",
			"width": 350,
			"height": 350
		},
		{
			"@type": "WebPage",
			"@id": "https://lightdark.art/about-me/",
			"url": "https://lightdark.art/about-me/",
			"name": "About me  James T. Bytes",
			"isPartOf": {
				"@id": "https://lightdark.art"
			},
			"primaryImageOfPage": {
				"@id": "https://lightdark.art/img/lightdarkart.png"
			},
			"datePublished": "{{ page.date | date_to_xmlschema }}",
			"dateModified": "",
			"inLanguage": "en-US"
		}
	]
}
</script>
