
  <h1> <a href="{{ 'SorceRawr.com' | absolute_url }}"> SorceRawr.com</a> </h1>

  <h2> The Source of the best Media in the Matrix. <span style="color:#FF3838">R</span><span style="color:#D7FF38">a</span><span style="color:#38FF88">w</span><span style="color:#3888FF">r</span><span style="color:#D738FF">.</span> </h2>

  <link rel="stylesheet" href="{{ 'main.css' | relative_url }}">

  <script src="{{ 'lib/typed.js' | relative_url }}" type="text/javascript"></script>
  <script src="{{ 'lib/demos.js' | relative_url }}"></script>
  <link href="{{ 'lib/demos.css' | relative_url }}" rel="stylesheet">

    <h2 id="basic">
    <div class="type-wrap">
          <div id="typed-strings">
        <h1 style='color:black;'>
        Sorcerawr is a site that curates media </h1>
        <p>Sorcerawr is a reviews site </p>
        <p>Sorcerawr is a site of some kind </p>
        <p>that does something for some reason </p>
        <p>that does something for a great reason </p>
        <p>Sorcerawr has movies </p>
        <p>Sorcerawr has anime </p>
        <p>Sorcerawr has games </p>
        <p>Sorcerawr has music </p>
        <p>Sorcerawr has bookz </p>
        <p>Sorcerawr is a place to go  </p>
        <p>when you dont want to look up </p>
        <p>the best of the best of the best of  </p>
        <p>the best of the best of </p>
        <p>the best</p>
        <p>Sorcerawr is a meme </p>
        <p>Sorcerawr is in the matrix </p>
        <p>Sorcerawr is a diviner </p>
        <p>Sorcerawr is a magician </p>
        <p>Sorcerawr is a sorceror </p>
        <p>Sorcerawr is aaaaaaaaaaaaaaaaaaaa</p>
        <p>you should bookmark and maybe even share   </p>
        <p>because cool people share cool things  </p>
        <p>because I'll give you a million dol   </p>
        <p>because of a good reason   </p>
        <p>because like I'll be immortal </p>
        <p>you should not listen to anything  </p>
        <p> text on a website tells you to do </p>
        <p>you should not listen to anything dumb  </p>
        <p>you should not listen to anything ever  </p>
        <p>you should read reviews on my site  </p>
        <p> because things and stuff and also yes </p>
        <p>Did I say thanks for stopping by?    </p>
        <p> Thank you . . . . . . . . . . . . . . </p>
        <p>Welcome Back to Sourcerawr . . . . . . . . .  </p>

      </div> </h2>
      <span id="typed" style="white-space:pre;"></span>
      <br> <br>
