---
layout: default
---

<div id="main">
<br>
  <ul>
    <div id="thefeed" >
      <li >
        <h4 id="thefeedmore"><a href="{{ post.url }}"> A Cozy Noise</h4> <br> 
        <iframe width="242" height="242" src="https://www.youtube-nocookie.com/embed/3yxNqOE1dXs?showinfo=0&modestbranding=1&playsinline=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </li>
        <br>
    </div>
    <li>

{{ content }}

 <!-- you would think this would be a for loop.. -->

<!--
<h1 id="instagfeed">{{ page.title }} </h1>

<p id="instagfeed">{{ page.topic }} - {{ page.date | date_to_string }} - {{ page.author }}</p>
<!--
{% assign posts = paginator.posts | default: site.posts %}
-->
</div>
