---
layout: default
---

<div id="main">


<br>
  <ul>
    <div id="thefeed" >
      <li >
        <h4 id="thefeedmore"><a href="{{ post.url }}"> Divi's Cubes </h4> <br>
        <iframe width="242" height="242" id="nftmain" src="https://raw.githubusercontent.com/motibytes/cube_storage/main/Golden_Cube242_SorceRawr.html"> </iframe> <br />

      </li>
        <br>
    </div>
    <li>

{{ content }}

 <!-- you would think this would be a for loop.. -->

<!--
<h1 id="instagfeed">{{ page.title }} </h1>

<p id="instagfeed">{{ page.topic }} - {{ page.date | date_to_string }} - {{ page.author }}</p>
<!--
{% assign posts = paginator.posts | default: site.posts %}
-->
</div>
